 <head>
  <style>
    table{
      border-collapse: collapse;
      width: 40%;
      line-height: normal;
      text-align: center;
      font-size: small;
    }
    th{background-color:red;
    color: white;}
    th,td{
      border:2px solid #ddd;
      padding: 10px;
    }
    </style>
 </head>
<div>
    
    <div class="container">
        <div class="form-group">
    <table align="center" class="table table-striped table-bordered">
        <tr >
            <th>AccountNo</th>
            <th>BookingId</th>
            <th>MoneyRefunded</th>
            <th>RefundDate</th>
        </tr>
        <tr *ngFor="let l of list">
            <td>{{l.account_no}}</td>
            <td>{{l.booking_id}}</td>
            <td>{{l.money_refunded}}</td>
            <td>{{l.date_of_refund}}</td>
            
        </tr>
    </table>
    </div>
    </div>
</div>