
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <h1 class="jumbotron" align="center">ONLINE MOVIE TICKET SYSTEM</h1> 
 
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    h1 {
      font-size: 40px;
    }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="app-bookmovie" class="roterlink navbar-brand" style="font-size : 20px">BOOK MOVIE TICKETS</a>
    </div>
    <div class="navbar-header">
    <a href="Cancel-ticket"class="roterlink navbar-brand" style="font-size : 20px">CANCEL BOOKED TICKETS</a>
  </div>
  <div class="navbar-header">
    <a href="app-refund" class="roterlink navbar-brand" style="font-size : 20px">LIST OF REFUND</a>
  </div>
  
  <div class="navbar-header">
    <a href="app-updateseats" class="roterlink navbar-brand" style="font-size : 20px">UPDATE SEATS</a>
  </div>
  <div class="navbar-header">
    <a href="app-listseats" class="roterlink navbar-brand" style="font-size : 20px">SEATS LIST</a>
  </div>
    <div class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-in"  style="font-size : 20px"></span><h5>Login</h5></a></li>
      </div>
  </div>
</nav>
</body>
</html>
<router-outlet></router-outlet>